body  {	 border: 3px solid rgb(75,75,75);
    max-width: 760px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
   }

p { 
    max-width: 760px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}
